<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfTpYAqyP7Tg5xPL8biAUSyUMu4Ha681c</string>
	<key>GCM_SENDER_ID</key>
	<string>960482717308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.adaptiv.flutterKit</string>
	<key>PROJECT_ID</key>
	<string>millearnia</string>
	<key>STORAGE_BUCKET</key>
	<string>millearnia.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960482717308:ios:0b8b32bf69e52e85c423f9</string>
</dict>
</plist>